:root{
    --colour-background: #F4F1DE;
    --colour-highlight: #E07A5F;
    --colour-button:  #3D405B;
    --colour-text: #1b1d29;
    --colour-book: #81B29A;
    --colour-cancel: #b94f32;
    --colour-accept: #4aa076;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border:none;
  color: var(--colour-text);
}
/* normalize.css sections as needed */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
ul {
    list-style: none;
}
.submit:hover,
button:hover{
    cursor: pointer;
    filter:brightness(120%);
}
ul {
    list-style-type: none outside none;
}
a {
    text-decoration: none;
}
body {
    background-color:var(--colour-background);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    font-size: 64px;
    box-shadow: 0px 10px 0px var(--colour-highlight);
    margin-bottom: 1em;
}
.container {
    max-width: 1600px;
    margin:0 auto;
    padding: 32px;
}
 .library {
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 16px;
 }

.book {
    position:relative;
    background-color: var(--colour-book);
    font-size: 16px;
    border-radius: 8px;
    min-height: 300px;
    padding: 5rem 2rem;
}
.book h3{
    font-size:32px;
    border-bottom: 2px solid var(--colour-text);
    margin-bottom: 1em;
}

.bin {
    color:white;
    background-color: var(--colour-cancel);
}
dialog {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow:auto;
    
}
form{
    font-size: 24px;
    border-radius: 8px;
    background-color: var(--colour-background);
    margin: auto;
    padding:4em 2em;
    width: 30%;
    max-width: 800px;
    position:relative;
}
.form-inputs ul{
    display: grid;
    gap:16px;
}
li{
    display:block;
    grid-column: 1/span 1;
}
form h2{
    margin-bottom: 1.15em;
}
input {
    width:100%;
    font-size: 24px;
    border-radius: 8px;
    height: 2em;
    padding-left: 0.5em;
}
.close {
    position: absolute;
    top:5px;
    right:5px;
    color: white;
    background-color: var(--colour-cancel);
    font-size: 50px;
    font-weight: 800;
    border-radius:8px;
    position: absolute;
    width: 15%;
}
        
#add-book {
    background-color: var(--colour-button);
    font-size: 128px;
    border-radius: 8px;
    min-height: 300px;
    color: white;
}
.complete {
    font-size: 16px;
    font-weight: 800;
    position:absolute;
    border-radius:8px;
    bottom: 2rem;
    left: 2rem;
    color: white;
    width:80%;
    overflow: auto;
    padding: 1em;
}
#add-book:hover{
    font-size: 200px;
}
.bin {
    font-size: 50px;
    font-weight: 800;
    border-radius:8px;
    position: absolute;
    width: 15%;
    top:5px;
    right:5px;
    aspect-ratio:1/1;
}
.submit{
    position:absolute;
    bottom:25px;
    width:85%;
    color:white;
    background-color: var(--colour-button);
}